.right{
    float: right;
}

.left{
    float: left;
}

.Mtop10{
    margin-top: 10px;
}

.Mbottom10{
    margin-bottom: 10px;
}

.Wid30 input,
.Wid40 input,
.Wid50 input,
.Wid60 input,
.Wid70 input,
.Wid80 input,
.Wid90 input,
.Wid100 input{
    width:100%; 
}

.Wid30 input.inputWithButton,.Wid40 input.inputWithButton,
.Wid50 input.inputWithButton,.Wid60 input.inputWithButton,
.Wid70 input.inputWithButton,.Wid80 input.inputWithButton,
.Wid90 input.inputWithButton,.Wid100 input.inputWithButton{
    width: 80%;
}

.topToolbar{
    margin-bottom: 10px;
}

.detailToolbar{
    margin-top: 10px;
    margin-bottom: 10px;
}

.plgQuery{
    margin-bottom: 10px;
}

.fileUpload{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*-------------------------------MainFrameStyle*/

.tableList td,.plgNew td,.plgEdit td,.plgView td{
    height: 32px;
}

/*.tableList .ui-selectonemenu-label{
    height: 12px;
}

.ktstate .ui-button span.ui-button-text{
    padding: 5px 12px !important;
}*/